# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
virtual_env/
venv/
env/
ENV/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

